@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rubik+Burned&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* Colors */
$color-light: #cac3cb;
$color-medium: #d5c8cf;
$color-dark: #655057;
$color-card-text: #f0f8ff;

/* Fonts */
$font-family-cover:Rubik Burned, cursive;
$font-family-title: Barlow, sans-serif;
$font-family-content: Source Sans Pro, sans-serif;

/* Mixins */
@mixin flex-div($dir: column){
  display: flex;
  flex-direction: $dir;
}

@mixin flex-div--center($dir: column, $align-items: normal, $justify-content: normal){
  @include flex-div($dir);
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin blinking($delay: 0s, $duration: 1s){
  animation: blink $duration $delay infinite ease-in-out;
}

/* Animation */
@keyframes blink{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* Extensions */
%clickable{
  cursor: pointer;

  &:hover{
    opacity: 0.9;
    transform: translateY(-10px);
    transition-duration: 0.4s;
  }
}