@use 'base';

*{
  margin: 0;
  padding: 0;
}

#root{
  overflow: hidden;
}

.app{
  position: relative;

  overflow-x: hidden;

  font-family: base.$font-family-content;

  background-color: base.$color-medium;
  background-image: linear-gradient(to top right, base.$color-light, base.$color-medium);
}

.page{
  position: relative;

  z-index: 1;
}

a{
  text-decoration: none;
}

.icon{
  &--large{
    height: 1.6em;
  }

  &--extra-large{
    height: 3.2em;
  }
}