@use 'base';

*{
  margin: 0;
  padding: 0;
}

.app{
  position: relative;

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: base.$color-medium;
  background-image: linear-gradient(to top right, base.$color-light, base.$color-medium);
}

.icon{
  &--large{
    height: 1.6em;
  }
}