@use "base";

.cover{
  @include base.flex-div--center(column, center, center);

  position: relative;
  height: 100vh;
  font-family: base.$font-family-cover;
  border-bottom: 1px solid base.$color-dark;
  color: base.$color-dark;

  /* Hide nav bar */
  background-color: base.$color-medium;
  background-image: linear-gradient(to top right, base.$color-light, base.$color-medium);
  z-index: 20;

  &__title{
    margin: 1.6em;
    font-size: 5em;
  }

  &__discover{
    margin: 1em;
    font-size: 1.2em;
    text-align: center;

    &__letter{
      margin: 0 0.4em;
    }

    &__cursor{
      @include base.blinking(0s, 0.8s);
    }
  }

  &__scroll-down-icon{
    &--top{
      @include base.blinking(0s, 1.6s);
      margin-top: 2em;
    }

    &--bottom{
      @include base.blinking(0.2s, 1.6s);
      margin-top: 0.4em;
    }
  }
}